:root {
  --color-header: #292F36;
  --color-middle: #F7FFF7;
  --color-3: #FF6B6B;
  --color-4: #FFE66D;
  --color-5: rgba(78, 205, 196, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F3F4;
  min-width: 480px;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--color-header);
  min-width: 480px;
  /* border: 1px solid yellow; */
  z-index: 999;
}

.logo1 {
  width: 50px;
  height: 50px;
  /* border: 1px solid orange; */
  margin: 10px 48px 10px 16px;
}

.logo-container {
  margin-bottom: 10px;
  margin-right: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 960px;
  min-width: 480px;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 0 16px;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 3px solid black;
  background-color: black;
  border-radius: 25px 25px 0 0;

 
  box-shadow: 7px -5px 10px 0px #4ECDC4, 5px 5px 15px 5px rgba(0,0,0,0);
}

ul li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 500;
  color: #F2F3F4;
}

ul li a:hover {
  color: var(--color-header);
}

nav > ul > li:hover {
  background-color: #4ECDC4;
  border-bottom: none;
  color: var(--color-header);
  box-shadow: 0px 0px 0px 0px #4ECDC4;
}

a > i {
  color: var(--color-middle);
  margin-bottom: 5px;
}

i:hover {
  color: rgb(78, 205, 198);
}

.container {
  max-width: 960px;
  margin: 0 auto;
 
  text-align: center;
}

#canvas {
  position: absolute;
  bottom: 5%;
  right: 15%;
}

.A {
  position: relative;
  z-index: 0;
  max-width: 400px;
  min-width: 300px;
  margin: 10% 15% 10%;
  /* border: 1px solid blue; */
}

main {
  max-width: 960px;
  margin: 0 auto;
}

/* .container-main {
 
  margin: 0 auto;
} */
.top {
  min-height: 100px;
}

.title, .title-p {
  /* -font-size: 3rem; */
  color: var(--color-header);
  text-align: left;
  background: linear-gradient(to right, rgba(41,47,54 , 0.8) 20%, rgba(255,230,107 , 0.9) 40%, rgba(255,230,107 , 0.6) 60%, rgba(41,47,54 , 0.8) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.title-p {
  font-size: 1rem;
  font-style: italic;
  -text-shadow: 1px 2px var(--color-3);
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.grid-container {
  width: 300px;
  height: 300px;
  border-radius: 1rem 1rem 0 0;
  margin: 30px auto;
}

.grid-container:hover {
  box-shadow: inset 0 0 0 rgba(78, 205, 196, 0.2), inset 0 100px 0 rgba(78, 205, 196, 0.2), inset 0 200px 0 rgba(78, 205, 196, 0.2), inset 0 300px 0 rgba(78, 205, 196, 0.2), 0 0 20px silver;
  transition: box-shadow ease-in-out 0.5s;
  color: transparent;
}

.grid {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 0 0 20px grey;
}

a {
  text-decoration: none;
}

.grid img, iframe {
  position: absolute;
  top: 0;
   left:0;
   z-index: -1;
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  transition: transform 0.3s linear;
}

.grid:hover img {
  transform: translateY(10px);
}

.project-tile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 500;
  padding-top: 0.9rem;
  background-color: #5F6368;
  color: #F2F3F4;
  border-radius: 0 0 1rem 1rem;
}

.project-tile:hover {
  color: #4ECDC4;
}

h2 {
  font-size: 2rem;
  padding: 75px 0 50px;
  color: var(--color-header);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 3rem;
  background-color: rgba(41,47,54 , 0.8);
}

.hero {
  font-size: 2rem;
  color: var(--color-middle);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 1rem;
}

.contact-details:hover {
  color: #4ECDC4;
}

footer {
  background-color: var(--color-header);
  color: #c0c0c0;
  text-align: right;
  margin-top: 2px;
  padding: 2rem;
}

#canvas-container {
  position: relative;
  padding-top: 75px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: -1;
  background-color: rgba(41,47, 50, 0.4);
  box-shadow: 0 0 20px grey;
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo2 {
  width: 20px;
  height: 20px;
  margin: 0;
}

@media (max-width: 600px) {
  ul {
    gap: 0;
    margin: 0 16px 0 5px;
  }
}


.responsive-img {
  max-width: 100%;  
  height: auto;     
  display: block;   
  border-radius: 15px; 
  /*margin-bottom: 10px;*/
}

.btn-github {
  display: inline-block;
  padding: 10px 20px;
  background-color: #24292e; 
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
.btn-github:hover {
  background-color: var(--color-5);
  color: var(--color-header);
}

.project-subtitle {
   text-shadow: 0 0 0 10px grey;
}


/*porekt.html*/
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-column: col-start / span 12;
  gap: 20px;
  max-width: 960px;
  margin: 40px auto;
  padding: 0 20px;
  background: linear-gradient(to bottom, rgba(78, 205, 196, 0.1), rgba(78, 205, 196, 0.2));
}

.project-title { grid-column: span 12; text-align: center; margin-bottom: 20px; }
.item-static  { grid-column: span 3; display: flex; justify-content: center; }
.item-gallery { grid-column: span 3; display: flex; justify-content: center; } 
.item-summary { grid-column: span 6; }
.item-text-1  { grid-column: span 6; margin-top: 20px; text-align: center}
.item-text-2  { grid-column: span 6; margin-top: 20px; text-align: center}


.item-static img {
  width: 100%;       
  max-width: 200px; 
  max-height: 500px;
  border-radius: 8px;
}

.pic-ctn {
  position: relative;
  width: 200px;     
  height: 300px;     
  overflow: hidden;
  border-radius: 8px;
}



.pic-ctn > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  opacity: 0;
  animation: display 12s infinite;
}


@media (max-width: 768px) {
  .portfolio-container > * {
    grid-column: span 12 !important; 
    text-align: center;
  }
  .pic-ctn { margin: 0 auto; }
}


.pic-ctn > img:nth-child(2) { animation-delay: 2s; }
.pic-ctn > img:nth-child(3) { animation-delay: 4s; }
.pic-ctn > img:nth-child(4) { animation-delay: 6s; }
.pic-ctn > img:nth-child(5) { animation-delay: 8s; }

@keyframes display {
  0% { transform: translateX(200px); opacity: 0; }
  10% { transform: translateX(0); opacity: 1; }
  25% { transform: translateX(0); opacity: 1; }
  35% { transform: translateX(-200px); opacity: 0; }
  100% { transform: translateX(-200px); opacity: 0; }
}

/*budzetApp.html*/
* {
  box-sizing: border-box;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.container-grid > * {
 
  background: linear-gradient(to bottom, rgba(78, 205, 196, 0.1), rgba(78, 205, 196, 0.2));
  border-radius: 15px;
  padding: 10px;
  grid-column: col-start / span 12;
   box-shadow: 0 0 10px grey;
}

@media (min-width: 568px) {
  .content {
    grid-column: 1 / span 9; 
    
  }

  .sidebar {
    grid-column: 10 / span 3;
    grid-row: 1;           
  }

  .ads {
    grid-column: 10 / span 3;
    grid-row: 2;           
  }
    .adsa {
    grid-column:  col-start / span 9;
       grid-row: 2;     
  }
}








